<ion-content class="ios hydrated" style="--offset-top:0px; --offset-bottom:0px;">
  <ion-grid class="full-height landing-container no-padd ios hydrated">
    <ion-row class="ion-switcher full-height ion-justify-content-center ios hydrated">
      <ion-col class="ion-padding ios hydrated" size="12">
        <div class="ion-text-center"><img class="logo-img" src="../../assets/1simplesfavor-vermelho.png"></div>
        <div class="ion-text-center">
          <p class="landing-container__title">Junte-se a Nós!!!</p><small class="landing-container__description">
            Você pode estar <strong>precisando</strong> de alguma coisa ou consiga <strong>ajudar alguém</strong>.
            Então... vamos lá?!</small>
          <h1 style="display:none">v7221238</h1>
        </div>
        <ion-grid class="btn-ctrl-container ios hydrated">
          <ion-row class="full-height ios hydrated">
            <ion-col class="ion-text-center ios hydrated">
              <p class="btn-ctrl-container__title">Ainda não tem conta?</p>
              <ion-button
                class="disable-hover btn-ctrl-container__buy-button ion-color ion-color-primary ios button button-round button-solid ion-activatable ion-focusable hydrated"
                color="primary" shape="round" tabindex="0" [routerLink]="['/user-info']">Começar
              </ion-button>
              <hr>
              <p class="btn-ctrl-container__title">Já se cadastrou?</p>
              <ion-button
                class="login-btn ion-color ion-color-primary ios button button-round button-outline ion-activatable ion-focusable hydrated"
                color="primary" fill="outline" shape="round" [routerLink]="['/login']">Login</ion-button>
              <div class="links ng-star-inserted"><a
                  href="https://www.ooredoo.qa/cs/OoredooQatar/eshop-and-retail-terms-conditions-en.PDF"
                  target="_blank">Termos e Condições</a>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>