  <app-header progressRate=1.0></app-header>
  <ion-content class="ion-padding ios hydrated" style="--offset-top:0px; --offset-bottom:0px;">
    <ion-grid class="sim-details-container ios hydrated">
      <p class="page__title">Olá, {{firstName}}</p>
      <h5 class="page__description">Qual será a sua ação de hoje?</h5>
      <ion-row class="ion-justify-content-center ios hydrated">
        <!---->
        <ion-col #thirdPackContainer class="pack-container no-padd ios hydrated" size="12"
          style="flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%);">
          <span class="active-check-icon">
            <ion-icon name="checkmark" role="img" class="ios hydrated" aria-label="checkmark">
            </ion-icon>
          </span>
          <aside >
            <ion-row class="ios hydrated">
              <ion-col class="offer-data ios hydrated" size="8"
                style="flex: 0 0 calc(calc(8 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(8 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(8 / var(--ion-grid-columns, 12)) * 100%);">
                <b >Ver Solicitações</b><small ></small>
                <!---->
                <!---->
              </ion-col>
              <ion-col class="ion-text-center ios hydrated" size="4"
                style="flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);">
                <div (click)="selectSim(thirdPackContainer)" class="price"><b >Selecione</b></div><small
                  ></small>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ios hydrated">
              <ion-col class="more-info-container ion-text-center ios hydrated" size="12"
                style="flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%);">
                <b class="small-line-height">Baseado na sua localização, será exibida uma lista de pessoas solicitando/oferecendo alguma ajuda para elas ou para alguém que esteja em isolamento domiciliar. Você pode selecionar um pedido de ajuda e atribuir para você ou encontrar uma pessoa disposta a fazer algo por você. Aqui você também vai encontrar as suas ofertas/pedidos de ajuda.</b></ion-col>
            </ion-row>
          </aside>
        </ion-col>
        <ion-col #firstPackContainer class="pack-container no-padd ios hydrated" size="12"
          style="flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%);">
          <span class="active-check-icon">
            <ion-icon name="checkmark" role="img" class="ios hydrated" aria-label="checkmark">
            </ion-icon>
          </span>
          <aside >
            <ion-row class="ios hydrated">
              <ion-col class="offer-data ios hydrated" size="8"
                style="flex: 0 0 calc(calc(8 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(8 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(8 / var(--ion-grid-columns, 12)) * 100%);">
                <b >Ajudar</b>
                <!---->
                <!----><b ></b><small ></small>
                <!---->
              </ion-col>
              <ion-col class="ion-text-center ios hydrated" size="4"
                style="flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);">
                <div (click)="selectSim(firstPackContainer)" class="price"><b >Selecione</b></div><small
                  ></small>
              </ion-col>
            </ion-row>
            <!---->
            <!---->
            <ion-row class="ion-justify-content-center ios hydrated">
              <ion-col class="more-info-container ion-text-center ios hydrated" size="12"
                style="flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%);">
                <b class="small-line-height">Você pode criar uma oferta de ajuda. Escreva aquilo que você estiver disposto a fazer pelas pessoas de sua região. Você pode buscar alimento para pessoas no supermercado, pode se colocar a disposição para conversar com pessoas em situação de isolamento, enfim. Tudo o que você puder fazer nesse momento para ajudar pessoas será bem vindo.</b></ion-col>
            </ion-row>
          </aside>
        </ion-col>
        <ion-col #secondPackContainer class="pack-container no-padd ios hydrated" size="12"
          style="flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%);">
          <span class="active-check-icon">
            <ion-icon name="checkmark" role="img" class="ios hydrated" aria-label="checkmark">
            </ion-icon>
          </span>
          <aside >
            <ion-row class="ios hydrated">
              <ion-col class="offer-data ios hydrated" size="8"
                style="flex: 0 0 calc(calc(8 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(8 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(8 / var(--ion-grid-columns, 12)) * 100%);">
                <b >Pedir Ajuda</b><small ></small>
                <!---->
                <!---->
              </ion-col>
              <ion-col class="ion-text-center ios hydrated" size="4"
                style="flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);">
                <div (click)="selectSim(secondPackContainer)" class="price"><b >Selecione</b></div><small
                  ></small>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ios hydrated">
              <ion-col class="more-info-container ion-text-center ios hydrated" size="12"
                style="flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%);">
                <b class="small-line-height">Se você estiver isolado e precisa de algum favor ou conheça quem precise, não hesite em pedir. Pode ser qualquer coisa, desde a entrega de um produto da farmácia, pedir para alguém entregar alimentos, cuidar de crianças... enfim qualquer pedido de ajuda que precisar!
                </b></ion-col>
            </ion-row>
          </aside>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <app-footer #footer></app-footer>