<app-header progressRate=0.4></app-header>
<ion-content class="ion-padding ios hydrated" style="--offset-top:0px; --offset-bottom:0px;">
  <!-- <ion-backdrop visible="false"></ion-backdrop> -->
  <!---->
  <div class="login-notification ng-trigger ng-trigger-slideInOut " style="overflow: hidden; height: 0px;">
    <ion-content class=" ios hydrated" style="--offset-top:0px; --offset-bottom:0px;">
      <ion-grid class=" ios hydrated">
        <ion-row class=" ios hydrated">
          <ion-col class=" ios hydrated">
            <p class="page__title ">Create New Account</p><b style="margin-top:10px; display:block" class="">Your Email
              address "" is not registered with
              us!</b>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center  ios hydrated">
          <ion-col class=" ios hydrated">
            <!---->
            <ion-button color="primary" expand="full" shape="round" tabindex="0"
              class=" ng-star-inserted ion-color ion-color-primary ios button button-full button-round button-solid ion-activatable ion-focusable hydrated"
              style=""> YES, PROCEED WITH SIGNUP </ion-button>
            <!---->
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center  ios hydrated">
          <ion-col class=" ios hydrated">
            <ion-text class=" ion-color ion-color-primary ios hydrated" color="primary" tapple=""><b class=""> NO, USE
                AN EXISTING ACCOUNT</b>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
  <ion-grid>
    <p class="page__title ">Register to Proceed</p>
    <h5 class="page__description ">Use your email address</h5>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <ion-row class="form-container ios hydrated">
        <ion-col>
          <mat-form-field  appearance="outline" color="warn">
            <mat-label>Enter email address</mat-label>
            <input formControlName="email" matInput placeholder="">
          </mat-form-field>
        </ion-col>
        <ion-col size="2">
          <ion-button (click)="onSubmit()" size="large"
            class="login-button"
            color="primary" shape="round" aria-disabled="true" [disabled]="!emailForm.valid">
            <ion-icon mode="md" name="arrow-round-forward" role="img"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row class=" ios hydrated">
      <ion-col size="12" class=" ios hydrated"
        style="flex: 0 0 calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(12 / var(--ion-grid-columns, 12)) * 100%);">
        <span class="or-google ">Or connect with</span></ion-col>
      <div class="google-login-container "><img class="" alt="" src="assets/google-logo.svg"><span
          class="">Google</span></div>
    </ion-row>
  </ion-grid>
</ion-content>