<app-header progressRate=0.4></app-header>
<ion-content class="ion-padding ios hydrated" style="--offset-top:0px; --offset-bottom:0px;">
  <ion-grid class="ios hydrated">
    <p class="page__title">Confirmação</p>
    <h5 class="page__description">Enviamos uma mensagem para o seu celular contendo um código de confirmação. É um número de 3 digitos, para sabermos que o número informado é seu mesmo!</h5>
    <ion-row class="form-container ios hydrated">
      <form [formGroup]="confirmationForm" (ngSubmit)="onSubmit()" novalidate="">
        <ion-col class="ion-no-padding ios hydrated" size="12">
          <mat-form-field appearance="outline" color="warn">
            <mat-label>Codigo de Confirmação</mat-label>
            <input tabindex="1" formControlName="confirmationCode" matInput placeholder="" type="text" maxlength="3">
          </mat-form-field>
        </ion-col>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer role="contentinfo" class="ios footer-ios hydrated">
  <ion-toolbar class="in-toolbar ios hydrated">
    <ion-grid class="ios hydrated">
      <ion-row class="ion-justify-content-center no-padd ios hydrated">
        <ion-col size="11">
          <ion-button (click)="onSubmit()" color="primary" expand="block" shape="round"
            [disabled]="!confirmationForm.valid">Confirmar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>