<app-header progressRate=1.0></app-header>
<ion-content class="ion-padding" style="--offset-top:0px; --offset-bottom:0px;">
  <ion-grid>
    <p class="page__title ">Congratulations!</p>
    <h5 class="page__description">You have completed your <b>{{selectedSim.code}}</b>SIM card purchase for ${{selectedSim.cost}}! Order number: #{{orderNumber}}</h5>
  </ion-grid>
</ion-content>
<ion-footer role="contentinfo" class="ios footer-ios hydrated">
  <ion-toolbar class="in-toolbar ios hydrated">
    <ion-grid class="ios hydrated">
      <ion-row class="ion-justify-content-center no-padd ios hydrated">
        <ion-col size="11">
          <ion-button (click)="onSubmit()" color="primary" expand="block" shape="round">HOME</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>