ion-select-popover,
ion-select,
ion-select-option,
ion-menu-button,
ion-menu,
ion-menu-controller,
ion-menu-toggle,
ion-action-sheet,
ion-fab-button,
ion-fab,
ion-fab-list,
ion-refresher-content,
ion-refresher,
ion-backdrop,
ion-ripple-effect,
ion-alert,
ion-back-button,
ion-loading,
ion-toast,
ion-card,
ion-card-content,
ion-card-header,
ion-card-subtitle,
ion-card-title,
ion-item-option,
ion-item-options,
ion-item-sliding,
ion-infinite-scroll-content,
ion-infinite-scroll,
ion-reorder,
ion-reorder-group,
ion-segment-button,
ion-segment,
ion-tab-button,
ion-tab-bar,
ion-chip,
ion-modal,
ion-popover,
ion-searchbar,
ion-action-sheet-controller,
ion-alert-controller,
ion-anchor,
ion-loading-controller,
ion-modal-controller,
ion-picker-controller,
ion-popover-controller,
ion-toast-controller,
ion-app,
ion-buttons,
ion-content,
ion-footer,
ion-header,
ion-router-outlet,
ion-title,
ion-toolbar,
ion-nav,
ion-nav-link,
ion-nav-pop,
ion-nav-push,
ion-nav-set-root,
ion-route,
ion-route-redirect,
ion-router,
ion-router-link,
ion-avatar,
ion-badge,
ion-thumbnail,
ion-col,
ion-grid,
ion-row,
ion-slide,
ion-slides,
ion-checkbox,
ion-img,
ion-input,
ion-progress-bar,
ion-range,
ion-split-pane,
ion-text,
ion-textarea,
ion-toggle,
ion-virtual-scroll,
ion-picker,
ion-datetime,
ion-picker-column,
ion-radio,
ion-radio-group,
ion-spinner,
ion-button,
ion-icon,
ion-item-divider,
ion-item-group,
ion-note,
ion-skeleton-text,
ion-item,
ion-label,
ion-list,
ion-list-header {
  visibility: hidden;
}
.hydrated {
  visibility: inherit;
}

.payment-iframe {
  width: 100%;
  height: 100%;
}
