<app-header progressRate=1.0></app-header>
<ion-content class="ion-padding " style="--offset-top:0px; --offset-bottom:0px;">
  <ion-grid>
    <p class="page__title">Mural</p>
    <h4 class="page__description">Você pode escolher visualizar os pedidos de ajuda ou os favores que as pessoas estão dispostas a realizar. Você pode escoher um pedido para atender, é simples e rápido.</h4>
    <div class="page__label"></div>
    <ion-row class="ion-no-padding ">
      <ion-col (click)="selfPickup = true" class="radio-container " size="6" tappable="">
        <img *ngIf="selfPickup" src="../../assets/radio-selected.svg">
        <img *ngIf="!selfPickup" src="../../assets/radio.svg">
        <p>Ofertas de Ajuda</p>
      </ion-col>
      <ion-col (click)="selectDeliveryInQatar()" class="radio-container " size="6" tappable="">
        <img *ngIf="!selfPickup" src="../../assets/radio-selected.svg">
        <img *ngIf="selfPickup" src="../../assets/radio.svg">
        <p>Pedidos de Ajuda</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="selfPickup">
      <!---->
      <h4 class="page__description">Suas ofertas</h4>
      <ion-col #option1xContainer (click)="selectSelfPickupOption(option1xContainer)" class="delivery-cart " size="12">
        <img src="../../assets/store-img.svg">
        <div><b>Mauricio Lopes Bonetti - Curitiba-PR - Vila Izabel</b>
          <small>Eu posso entregar alimentos e remédios para quem precisar proximo a meu bairro. XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAASSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD</small>
          <b>Contato: 41991696644</b>
        </div>
      </ion-col>
      <ion-col #option2xContainer (click)="selectSelfPickupOption(option2xContainer)" class="delivery-cart " size="12">
        <img src="../../assets/store-img.svg">
        <div><b>Mauricio Lopes Bonetti - Curitiba-PR - Vila Izabel</b><small>Eu posso entregar alimentos e remédios para quem precisar proximo a meu bairro.</small></div>
      </ion-col>
      <ion-col #option3xContainer (click)="selectSelfPickupOption(option3xContainer)" class="delivery-cart " size="12">
        <img src="../../assets/store-img.svg">
        <div><b>Mauricio Lopes Bonetti - Curitiba-PR - Vila Izabel</b><small>Eu posso entregar alimentos e remédios para quem precisar proximo a meu bairro.</small></div>
      </ion-col>
      <ion-col #option4xContainer (click)="selectSelfPickupOption(option4xContainer)" class="delivery-cart " size="12">
        <img src="../../assets/store-img.svg">
        <div><b>Mauricio Lopes Bonetti - Curitiba-PR - Vila Izabel</b><small>Eu posso entregar alimentos e remédios para quem precisar proximo a meu bairro.</small></div>
      </ion-col>
      <h4 class="page__description">Ofertas de outras pessoas</h4>
      <ion-col #option2Container id="Hamad International Airport - Arrival Terminal" (click)="selectSelfPickupOption(option2Container)" class="delivery-cart " size="12">
        <img src="../../assets/store-img.svg">
        <div><b>Hamad International Airport - Arrival Terminal </b><small>Ready for Pickup in 2 hours</small></div>
      </ion-col>
      <ion-col #option3Container id="Al Sadd" (click)="selectSelfPickupOption(option3Container)" class="delivery-cart " size="12">
        <img src="../../assets/store-img.svg">
        <div><b>Al Sadd</b><small>Ready for Pickup in 2
            hours</small></div>
      </ion-col>
      <ion-col #option4Container id="City Center" (click)="selectSelfPickupOption(option4Container)" class="delivery-cart " size="12">
        <img src="../../assets/store-img.svg">
        <div><b>City Center</b><small>Ready for Pickup
            in 2 hours</small></div>
      </ion-col>
      <ion-col #option5Container id="Landmark" (click)="selectSelfPickupOption(option5Container)" class="delivery-cart " size="12">
        <img src="../../assets/store-img.svg">
        <div><b>Landmark</b><small>Ready for Pickup in
            2 hours</small></div>
      </ion-col>
      <ion-col #option6Container id="Salwa Road" (click)="selectSelfPickupOption(option6Container)" class="delivery-cart " size="12">
        <img src="../../assets/store-img.svg">
        <div><b>Salwa Road</b><small>Ready for Pickup
            in 2 hours</small></div>
      </ion-col>
      <ion-col #option7Container id="Villaggio Mall" (click)="selectSelfPickupOption(option7Container)" class="delivery-cart " size="12">
        <img src="../../assets/store-img.svg">
        <div><b>Villaggio Mall</b><small>Ready for
            Pickup in 2 hours</small></div>
      </ion-col>
    </ion-row>
    <form [formGroup]="deliveryInQatarForm" (ngSubmit)="onSubmit()" class="ng-pristine ng-invalid ng-touched">
      <ion-row *ngIf="!selfPickup">
        <ion-col class="pick-location-container ion-text-center " size="12">
          <img src="../../assets/google-map.png"><b>Pin my location in Map</b>
        </ion-col>
        <p class="or-address">Or enter your address</p>
        <ion-col size="12">
          <input class="form-control" (keyup)="enableContinueButton()" formControlName="fullAddress" type="text" placeholder="Full Address"></ion-col>
        <ion-col size="12">
          <input class="form-control" (keyup)="enableContinueButton()" formControlName="city" type="text" placeholder="City"></ion-col>
        <ion-col size="12">
          <input class="form-control" (keyup)="enableContinueButton()" formControlName="deliveryInstructions" type="text" placeholder="Delivery Instructions"></ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
<!--<app-cart #footer></app-cart>-->
