.delivery-cart {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-top: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.contact {
  display: block !important;
}
.delivery-cart img {
  margin: 0 15px;
  width: 36px;
  flex-shrink: 0;
}
.delivery-cart b {
  display: block;
  font-size: 14px;
  color: #211e20;
}
.delivery-cart small {
  font-size: 12px;
  color: #898989;
}
.delivery-cart div {
  width: 80%; 
  word-wrap: break-word;
}
.delivery-cart.active {
  border-color: var(--ion-color-primary) !important;
}
.radio-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0;
  color: #7e7e7e;
  font-weight: var(--font-weight-light, 300);
  font-size: 14px;
}
.radio-container img {
  margin: 0 7px;
}
.pick-location-container {
  background: #eee;
  padding: 20px;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  color: #211e20;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #e2dfdf;
  margin-top: 25px;
}
.pick-location-container img {
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.or-address {
  color: #8b959a;
  font-size: 14px;
  margin-top: 20px;
}
.page__label {
  color: #221e20;
  font-size: 18px;
  font-weight: var(--font-weight-light, 300);
  margin-top: 20px;
}
