<app-header progressRate=1.0></app-header>
<ion-content class="ion-padding " style="--offset-top:0px; --offset-bottom:0px;">
  <ion-grid id="grid">
    <p class="page__title">Mural</p>
    <h4 class="page__description">Aqui você pode visualizar os pedidos e ofertas de ajuda. Você pode atender um pedido de ajuda, ou entrar em contato com quem estiver disposto a te ajudar. É simples e rápido!</h4>
    <div class="page__label"></div>
    <ion-row class="ion-no-padding ">
      <ion-col (click)="switchType()" class="radio-container " size="6" tappable="">
        <img *ngIf="showOffers" src="../../assets/radio-selected.svg">
        <img *ngIf="!showOffers" src="../../assets/radio.svg">
        <p>Ofertas de Ajuda</p>
      </ion-col>
      <ion-col (click)="switchType()" class="radio-container " size="6" tappable="">
        <img *ngIf="!showOffers" src="../../assets/radio-selected.svg">
        <img *ngIf="showOffers" src="../../assets/radio.svg">
        <p>Pedidos de Ajuda</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showOffers">
      <!-- Minhas Ofertas -->
      <h4 class="page__description">Minhas Ofertas</h4>
      <ion-col *ngFor="let offer of myOffers" class="selectableItem" (click)="selectItem($event)" class="delivery-cart"
        size="12">
        <img src="../../assets/help-hand.svg">
        <div><b>{{offer.firstName}} {{offer.lastName}} - {{offer.city}} - {{offer.neighbourhood}}</b>
          <small>{{offer.description}}</small>
          <b>Contato: {{offer.phoneNumber}}</b>
        </div>
        <input type="hidden" class="helpId" name="helpId" [value]="offer.helpId" />
        <input type="hidden" class="region" name="region" [value]="offer.region" />
        <input type="hidden" class="userId" name="userId" [value]="offer.userId" />
        <input type="hidden" class="createdAt" name="createdAt" [value]="offer.createdAt" />
        <input type="hidden" class="helpType" name="helpType" value="offer" />
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showOffers && myOffers?.length <= 0">
      <ion-col>
        <small>Você ainda não criou ofertas!</small>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showOffers">
      <!-- Outras Ofertas -->
      <h4 class="page__description">Outras Ofertas</h4>
      <ion-col *ngFor="let offer of otherOffers" class="selectableItem" (click)="selectItem($event)"
        class="delivery-cart" size="12">
        <img src="../../assets/help-hand.svg">
        <div><b>{{offer.firstName}} {{offer.lastName}} - {{offer.city}} - {{offer.neighbourhood}}</b>
          <small>{{offer.description}}</small>
          <b>Contato: {{offer.phoneNumber}}</b>
        </div>
        <input type="hidden" class="helpId" name="helpId" [value]="offer.helpId" />
        <input type="hidden" class="userId" name="userId" [value]="offer.userId" />
        <input type="hidden" class="helpType" name="helpType" value="offer" />
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showOffers && otherOffers?.length <= 0">
      <ion-col>
        <small>Sem ofertas de ajuda para a sua região!</small>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!showOffers">
      <!-- Meus Pedidos de Ajuda -->
      <h4 class="page__description">Meus Pedidos de Ajuda</h4>
      <ion-col *ngFor="let request of myRequests" class="selectableItem" (click)="selectItem($event)"
        class="delivery-cart" size="12">
        <img src="../../assets/help-request.svg">
        <div><b>{{request.firstName}} {{request.lastName}} - {{request.city}} - {{request.neighbourhood}}</b>
          <small>{{request.description}}</small>
          <b *ngIf="request.status == 'assigned'">Será atendido por: {{request.asignee}} -
            {{request.asignee?.phoneNumber}}</b>
          <b *ngIf="request.status != 'assigned'">Contato: {{request.phoneNumber}}</b>
        </div>
        <input type="hidden" class="helpId" name="helpId" [value]="request.helpId" />
        <input type="hidden" class="region" name="region" [value]="request.region" />
        <input type="hidden" class="userId" name="userId" [value]="request.userId" />
        <input type="hidden" class="createdAt" name="createdAt" [value]="request.createdAt" />
        <input type="hidden" class="helpType" name="helpType" value="request" />
        <input type="hidden" class="helpStatus" name="helpStatus" [value]="request.status" />
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!showOffers && myRequests?.length <= 0">
      <ion-col>
        <small>Você ainda não criou pedidos de ajuda!</small>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!showOffers">
      <!-- Outros Pedidos de Ajuda -->
      <h4 class="page__description">Outros Pedidos de Ajuda</h4>
      <ion-col *ngFor="let request of otherRequests" class="selectableItem" (click)="selectItem($event)"
        class="delivery-cart" size="12">
        <img src="../../assets/help-request.svg">
        <div><b>{{request.firstName}} {{request.lastName}} - {{request.city}} - {{request.neighbourhood}}</b>
          <small>{{request.description}}</small>
          <b *ngIf="request.status == 'assigned'">Será atendido por: {{request.asigneeFullName}} -
            {{request.asigneePhoneNumber}}</b>
          <b *ngIf="request.status != 'assigned'">Contato: {{request.phoneNumber}}</b>
        </div>
        <input type="hidden" class="helpId" name="helpId" [value]="request.helpId" />
        <input type="hidden" class="userId" name="userId" [value]="request.userId" />
        <input type="hidden" class="region" name="region" [value]="request.region" />
        <input type="hidden" class="createdAt" name="createdAt" [value]="request.createdAt" />
        <input type="hidden" class="helpType" name="helpType" value="request" />
        <input type="hidden" class="helpStatus" name="helpStatus" [value]="request.status" />
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!showOffers && otherRequests?.length <= 0">
      <ion-col>
        <small>Sem pedidos de ajuda para a sua região!</small>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" id="infinite-scroll">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Buscando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<app-dashboard-footer #footer (actionSelected)="onActionSelect($event)"></app-dashboard-footer>