<app-header progressRate=1.0></app-header>
<ion-content class="ion-padding" style="--offset-top:0px; --offset-bottom:0px;">
  <!-- Check not completed-->
  <ion-grid *ngIf="!checkCompleted">
    <p class="page__title ">Identity Check</p>
    <h5 class="page__description">We are still checking your identity, please hold on for a while. Once it becomes
      completed you will be able to proceed.</h5>
  </ion-grid>
  <!-- Check completed and approved -->
  <ion-grid *ngIf="checkCompleted && approved">
    <form [formGroup]="debitCardForm" (ngSubmit)="onSubmit()" novalidate="">
      <p class="page__title ">Payment</p>
      <h5 class="page__description">You can now provide your debit card data to complete your purchase of
        <b>{{selectedSim.code}}</b>
        for ${{selectedSim.cost}}.</h5>
      <ion-row class="form-container">
        <ion-col class="ion-no-padding" size="12">
          <mat-form-field appearance="outline" color="warn">
            <mat-label>Name on Card</mat-label>
            <input matInput formControlName="nameOnCard" placeholder="" type="text">
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row class="form-container">
        <ion-col class="ion-no-padding" size="12">
          <mat-form-field appearance="outline" color="warn">
            <mat-label>Card Number</mat-label>
            <input matInput formControlName="cardNumber" placeholder="" type="number">
          </mat-form-field>
          <!--
          <div class="material-input"><input class="form-control ng-untouched ng-pristine ng-invalid" name="lastName"
              required="" type="text">
            <div class="material-input__placeholder"><span>Last Name</span>
            </div>
          </div>
          -->
        </ion-col>
      </ion-row>
      <ion-row class="form-container">
        <ion-col class="ion-no-padding" size="12">
          <ion-item style="padding-bottom:21px; margin-top:4px; margin-bottom:4px">
            <ion-label>Expiry Date</ion-label>
            <ion-datetime min="2020" max="2040" formControlName="expiryDate" displayFormat="MM/YY" value=""></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding" size="12">
          <mat-form-field appearance="outline" color="warn">
            <mat-label>Security Code</mat-label>
            <input matInput formControlName="securityCode" placeholder="" type="number" max="999" min="0" 
            onKeyDown="if(this.value.length == 3 && event.keyCode>47 && event.keyCode < 58)return false;">
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row class="form-container">
        <ion-col class="ion-no-padding" size="12">
          <mat-form-field appearance="outline" color="warn">
            <mat-label>Zip/Postal Code</mat-label>
            <input matInput formControlName="zipCode" placeholder="" type="number">
          </mat-form-field>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <!-- Check completed and not approved -->
  <ion-grid *ngIf="checkCompleted && !approved">
    <p class="page__title ">Thank You!</p>
    <h5 class="page__description">Unfortunatelly, your are not eligible to proceed with a purchase here. You can try
      to complete your purchase on <a href="https://www.ooredoo.qa/portal/OoredooQatar/esim">Ooredoo Store</a></h5>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="checkCompleted && approved" role="contentinfo" class="ios footer-ios hydrated">
  <ion-toolbar class="in-toolbar ios hydrated">
    <ion-grid class="ios hydrated">
      <ion-row class="ion-justify-content-center no-padd ios hydrated">
        <ion-col size="11">
          <ion-button (click)="onSubmit()" color="primary" expand="block" shape="round"
            [disabled]="!debitCardForm.valid">CONFIRM</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>